//////////////////////////////////////////////
// RULER DIMENSIONS
//////////////////////////////////////////////

@960_full_width: 960px;
@960_width1:  @960_full_width * @grs; // 593.28 @ 960px
@960_width2:  @960_width1     * @grs; // 366.64 @ 960px
@960_width3:  @960_width2     * @grs; // 226.58 @ 960px
@960_width4:  @960_width3     * @grs; // 140.03 @ 960px
@960_width5:  @960_width4     * @grs; // 86.53 @ 960px
@960_width6:  @960_width5     * @grs; // 53.48 @ 960px
@960_width7:  @960_width6     * @grs; // 33.05 @ 960px
@960_width8:  @960_width7     * @grs; // 20.42 @ 960px
@960_width9:  @960_width8     * @grs; // 12.62 @ 960px
@960_width10: @960_width9     * @grs; // 7.80 @ 960px
@960_width11: @960_width10    * @grs; // 4.82 @ 960px
@960_width12: @960_width11    * @grs; // 2.97 @ 960px
@960_width13: @960_width12    * @grs; // 1.84 @ 960px
@960_width14: @960_width13    * @grs; // 1.13 @ 960px
@960_width15: @960_width14    * @grs; // 0.70 @ 960px

@1024_full_width: 1024px;
@1024_width1:  @1024_full_width * @grs; // 632.83 @ 1024px
@1024_width2:  @1024_width1     * @grs; // 391.09 @ 1024px
@1024_width3:  @1024_width2     * @grs; // 241.69 @ 1024px
@1024_width4:  @1024_width3     * @grs; // 149.37 @ 1024px
@1024_width5:  @1024_width4     * @grs; // 92.31 @ 1024px
@1024_width6:  @1024_width5     * @grs; // 57.05 @ 1024px
@1024_width7:  @1024_width6     * @grs; // 35.25 @ 1024px
@1024_width8:  @1024_width7     * @grs; // 21.79 @ 1024px
@1024_width9:  @1024_width8     * @grs; // 13.46 @ 1024px
@1024_width10: @1024_width9     * @grs; // 8.32 @ 1024px
@1024_width11: @1024_width10    * @grs; // 5.14 @ 1024px
@1024_width12: @1024_width11    * @grs; // 3.18 @ 1024px
@1024_width13: @1024_width12    * @grs; // 1.96 @ 1024px
@1024_width14: @1024_width13    * @grs; // 1.21 @ 1024px
@1024_width15: @1024_width14    * @grs; // 0.75 @ 1024px

@1280_full_width: 1280px;
@1280_width1:  @1280_full_width * @grs; // 791.04 @ 1280px
@1280_width2:  @1280_width1     * @grs; // 488.86 @ 1280px
@1280_width3:  @1280_width2     * @grs; // 302.12 @ 1280px
@1280_width4:  @1280_width3     * @grs; // 186.71 @ 1280px
@1280_width5:  @1280_width4     * @grs; // 115.39 @ 1280px
@1280_width6:  @1280_width5     * @grs; // 71.31 @ 1280px
@1280_width7:  @1280_width6     * @grs; // 44.07 @ 1280px
@1280_width8:  @1280_width7     * @grs; // 27.23 @ 1280px
@1280_width9:  @1280_width8     * @grs; // 16.83 @ 1280px
@1280_width10: @1280_width9     * @grs; // 10.4 @ 1280px
@1280_width11: @1280_width10    * @grs; // 6.43 @ 1280px
@1280_width12: @1280_width11    * @grs; // 3.97 @ 1280px
@1280_width13: @1280_width12    * @grs; // 2.46 @ 1280px
@1280_width14: @1280_width13    * @grs; // 1.52 @ 1280px
@1280_width15: @1280_width14    * @grs; // 0.94 @ 1280px

@1440_full_width: 1440px;
@1440_width1:  @1440_full_width * @grs; // 889.92 @ 1440px
@1440_width2:  @1440_width1     * @grs; // 549.97 @ 1440px
@1440_width3:  @1440_width2     * @grs; // 339.88 @ 1440px
@1440_width4:  @1440_width3     * @grs; // 210.05 @ 1440px
@1440_width5:  @1440_width4     * @grs; // 129.81 @ 1440px
@1440_width6:  @1440_width5     * @grs; // 80.22 @ 1440px
@1440_width7:  @1440_width6     * @grs; // 49.58 @ 1440px
@1440_width8:  @1440_width7     * @grs; // 30.64 @ 1440px
@1440_width9:  @1440_width8     * @grs; // 18.93 @ 1440px
@1440_width10: @1440_width9     * @grs; // 11.7 @ 1440px
@1440_width11: @1440_width10    * @grs; // 7.23 @ 1440px
@1440_width12: @1440_width11    * @grs; // 4.47 @ 1440px
@1440_width13: @1440_width12    * @grs; // 2.76 @ 1440px
@1440_width14: @1440_width13    * @grs; // 1.71 @ 1440px
@1440_width15: @1440_width14    * @grs; // 1.05 @ 1440px

@1680_full_width: 1680px;
@1680_width1:  @1680_full_width * @grs; // 1038.24 @ 1680px
@1680_width2:  @1680_width1     * @grs; // 641.63 @ 1680px
@1680_width3:  @1680_width2     * @grs; // 396.53 @ 1680px
@1680_width4:  @1680_width3     * @grs; // 245.05 @ 1680px
@1680_width5:  @1680_width4     * @grs; // 151.44 @ 1680px
@1680_width6:  @1680_width5     * @grs; // 93.59 @ 1680px
@1680_width7:  @1680_width6     * @grs; // 57.84 @ 1680px
@1680_width8:  @1680_width7     * @grs; // 35.75 @ 1680px
@1680_width9:  @1680_width8     * @grs; // 22.09 @ 1680px
@1680_width10: @1680_width9     * @grs; // 13.65 @ 1680px
@1680_width11: @1680_width10    * @grs; // 8.44 @ 1680px
@1680_width12: @1680_width11    * @grs; // 5.21 @ 1680px
@1680_width13: @1680_width12    * @grs; // 3.22 @ 1680px
@1680_width14: @1680_width13    * @grs; // 1.99 @ 1680px
@1680_width15: @1680_width14    * @grs; // 1.23 @ 1680px

//////////////////////////////////////////////
// PROPORTION TABLES
//////////////////////////////////////////////

// http://lamb.cc/typograph/

@traditional_1:     6;
@traditional_2:     7;
@traditional_3:     8;
@traditional_4:     9;
@traditional_5:    10;
@traditional_6:    11;
@traditional_7:    12;
@traditional_8:    13;
@traditional_9:    14;
@traditional_10:   16;
@traditional_11:   18;
@traditional_12:   21;
@traditional_13:   24;
@traditional_14:   36;
@traditional_15:   48;
@traditional_16:   60;
@traditional_17:   72;

@fibonacci35_1:     3;
@fibonacci35_2:     5;
@fibonacci35_3:     8;
@fibonacci35_4:    13;
@fibonacci35_5:    21;
@fibonacci35_6:    34;
@fibonacci35_7:    55;
@fibonacci35_8:    89;

@fibonacci35d_1:     6;
@fibonacci35d_2:    10;
@fibonacci35d_3:    26;
@fibonacci35d_4:    48;
@fibonacci35d_5:    68;
@fibonacci35d_6:   110;

@standed35_1:     6;
@standed35_2:     8;
@standed35_3:    10;
@standed35_4:    13;
@standed35_5:    16;
@standed35_6:    21;
@standed35_7:    26;
@standed35_8:    34;
@standed35_9:    42;
@standed35_10:   55;
@standed35_11:   68;

@fibonacci47_1:     4;
@fibonacci47_2:     7;
@fibonacci47_3:    11;
@fibonacci47_4:    18;
@fibonacci47_5:    29;
@fibonacci47_6:    47;
@fibonacci47_7:    76;

@corbusier_1:     4;
@corbusier_2:     5;
@corbusier_3:   6.5;
@corbusier_4:     8;
@corbusier_5:  10.5;
@corbusier_6:    13;
@corbusier_7:    17;
@corbusier_8:    21;
@corbusier_9:  27.5;
@corbusier_10:   34;
@corbusier_11: 44.5;
@corbusier_12:   55;
@corbusier_13:   72;
@corbusier_14:   89;
@corbusier_base: 13;

//////////////////////////////////////////////
// GOLDEN RATIO AND REUSABLE PAGE WIDTHS
//////////////////////////////////////////////

@grb: 1.618; // Golden ratio bigger
@grs: 0.618; // Goldon ratio smaller

//////////////////////////////////////////////
// DECLARE FONT PROPORTIONS
//////////////////////////////////////////////

@line_heigth: 1.25;
@line_padding: .85;
@base: @standed35_7;

@font_size: 87.5; // (16px x 87.5) / 100 = 14px
@px_per_em: (16 * @font_size) / 100;

@h1_size: ( @standed35_11 / @base ) * 1em;
@h2_size: ( @standed35_10 / @base ) * 1em;
@h3_size: ( @standed35_9 / @base ) * 1em;
@h4_size: ( @standed35_8 / @base ) * 1em;
@h5_size: ( @standed35_7 / @base ) * 1em;
@h6_size: ( @standed35_6 / @base ) * 1em;

@h1_padding: @h1_size * @line_padding;
@h2_padding: @h2_size * @line_padding;
@h3_padding: @h3_size * @line_padding;
@h4_padding: @h4_size * @line_padding;
@h5_padding: @h5_size * @line_padding;
@h6_padding: @h6_size * @line_padding;

@h1_padding_t: (@h1_padding / 2) * @grs;
@h2_padding_t: (@h2_padding / 2) * @grb;
@h3_padding_t: (@h3_padding / 2) * @grb;
@h4_padding_t: (@h4_padding / 2) * @grb;
@h5_padding_t: (@h5_padding / 2) * @grb;
@h6_padding_t: (@h6_padding / 2) * @grb;

@h1_padding_b: (@h1_padding / 2) * @grs;
@h2_padding_b: (@h2_padding / 4) * @grs;
@h3_padding_b: (@h3_padding / 2) * @grs;
@h4_padding_b: (@h4_padding / 2) * @grs;
@h5_padding_b: (@h5_padding / 2) * @grs;
@h6_padding_b: (@h6_padding / 2) * @grs;


//////////////////////////////////////////////
// PRINT PROPORTIONS
//////////////////////////////////////////////

body {
	font-size: @font_size * 1%;
	line-height: @line_heigth;}

h1 {
	font-size: @h1_size;}


h2 { // .entry-title
	font-size: @h2_size;
	padding-top: 0;
	padding-bottom: 0;}

h3 {
	font-size: @h3_size;
	padding-top: @h3_padding_t;
	padding-bottom: @h3_padding_b;}

h4 {
	font-size: @h4_size;
	padding-top: @h4_padding_t;
	padding-bottom: @h4_padding_b;}

h5 {
	font-size: @h5_size;
	padding-top: @h5_padding_t;
	padding-bottom: @h5_padding_b;}

p {
	font-size: @h5_size;
	line-height: 1.5;
	overflow: visible;}

p + p {
	margin-top: @h5_padding*@grb;}

h6 {
	font-size: @h6_size;
	padding-top: @h6_padding_t;
	padding-bottom: @h6_padding_b;}
strong, b {
	font-weight: 600;}

em, i {
	font-style: italic;}

strong em, strong i, em strong, i strong, b em, b i, em b, i b {
	font-style: italic;
	font-weight: 600;}
